@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PizzaMama Accueil</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
    <body class="homePage">
    <div class="centered">
        <a asp-page="Index"> <img src="/images/main_logo.png" alt="Main logo" /></a>
        <a class="homePage"  asp-page="MenuPizzas">Voir le menu</a>
    </div>
    </body>
</html>
